<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ChatGPT-Admin</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="/css/public.css" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<div class="layui-form layuimini-form">
    <div class="layui-form-item">
        <label class="layui-form-label required">API-KEY</label>
        <div class="layui-input-block">
            <input type="text" name="apiKey" lay-verify="required" lay-reqtext="API-KEY不能为空"
                   placeholder="请输入API-KEY" value="" class="layui-input">
            <tip>用于登录本系统的用户名.</tip>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">来源</label>
        <div class="layui-input-block">
            <input type="text" name="origin" lay-verify="required" lay-reqtext="来源不能为空"
                   placeholder="请输入来源" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
        </div>
    </div>
</div>
<script src="/lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
<script src="/js/ajax.js" charset="utf-8"></script>
<script src="/js/page/key/add.js" charset="utf-8"></script>
</body>
</html>